body{
    background-color: #b9bfcb;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    position: absolute;
    right: 415px;
    border-collapse: collapse;
}

#prin1{
    color: white;
    background-color: #545b65;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    width: 250px;
    height: 35px;
    padding: 8px;
}
td, tr{
    color: white;
    border: 1px solid;
    border-color: #b9bfcb;
    background-color: #282b34;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 250px;
    height: 35px;
    padding: 15px;
}
